@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background: linear-gradient(0deg, rgba(25,25,25, 0.8), rgba(25,25,25, 0.8)), url('/static/images/app_bg.png') no-repeat center center fixed;
  background-size: cover;
}

body {
  color: rgb(var(--foreground-rgb));
}
